version: "3.8"
services:
  backend:
    build: ./backend
    container_name: route_backend
    ports:
      - "3000:3000"
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: route_frontend
    ports:
      - "8080:80"
    restart: unless-stopped
    depends_on:
      - backend
